.card:hover {
    cursor: pointer;
}

.movie-img-container {
    height: 300px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-img-container img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.star-empty {
    color: #dcdcdc;
}
