<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet">
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    </head>
    <body>

    {% set alertType = {
        'success': 'success',
        'error': 'danger',
        'warning': 'warning',
        'info': 'info'
    } %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ alertType[label] ?? 'secondary' }} mt-2 float-end w-25">
                {{ message }}
                <button type="button" class="btn-close position-absolute top-0 end-0 m-3"
                        data-bs-dismiss="alert" aria-label="Close">
                </button>
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}
    {% endblock %}
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
    </body>
</html>
